@media screen and (max-width: 415px) {
	.page-header h1 {
		padding: 10px;
	}

	.page-header h3 {
		font-size: 14pt;
	}
	
	.jumbotron {
		height: 450px;
	}

	/*#burnout {
		background-position: ;
	}*/

	.whitespace li {
		font-size: 12pt;
	}

	.whitespace img {
		width: 80%;
	}

	.event-desc li, .project-desc li {
		width: 80%;
	}

	.social {
		top: 50%;
	}

}